*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(231,195,231);
}
#formcadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    background-color: rgb(136, 83, 136);
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(59, 35, 59);
    width: 30%;
    height: 6   0%;
    margin-top: -8%;
    padding-bottom: 1%;
}
.lb1{
    color: white;
    font-size: 30px;
    margin-bottom: 5%;
    margin-top: 5%;
}
.inp1{
    width: 80%;
    height: 15%;
    padding: 3%;
    border-radius: 20px;
    border: none;
    background-color: rgb(231,195,231);
}
#butao{
    background-color: rgb(59, 35, 59);
    border-radius: 20px;
    width: 50%;
    height: 80px;
    color: white;
    border: none;
    margin-top: 2%;
}
#titulo{
    color: black;
    text-align: center;
    margin-top: 1%;
}
#descricao{
    background-color: white;
    font-size: 15px;
    width: 50%;
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    margin: auto;
}
#logout button{
    background-color: rgb(59, 35, 59);
    border-radius: 20px;
    width: 20%;
    height: 50px;
    color: white;
    border: none;
    margin-top: 0.5%;
    margin-left: 40%;
}
#titulodesc{
    color: black;
    font-size: 40px;
    text-align: center;
}
#requisitos{
    color: black;
    font-size: 14px;
    text-align: center;
}
#form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    background-color: rgb(136, 83, 136);
    border-radius: 20px;
}
.lb2{
    color: white;
    font-size: 15px;
    margin-bottom: 1%;
}
.inp2{
    width: 90%;
    height: 40px;
    padding: 1%;
    border-radius: 20px;
    border: none;
    background-color: rgb(231,195,231);
    margin-bottom: 1%;
}
select{
    width: 80%;
    height: 40px;
    padding: 1%;
    border-radius: 20px;
    border: none;
    background-color: rgb(231,195,231);
}
#butchones{
    background-color: rgb(59, 35, 59);
    border-radius: 20px;
    width: 50%;
    color: white;
    border: none;
    height: 50px;
    margin-bottom: 1%;
}
input::placeholder{
    color: black;
}
#link{
    margin-left: -85%;
}
#editrelato{
    color: white;
    text-align: center;
    margin-top: 1%;
    background-color: rgb(59, 35, 59);
    border-radius: 15px;
}
#p1{
    color: white;
    text-align: center;
    margin-top: 1%;
}
#form2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: rgb(136, 83, 136);
    border-radius: 20px;
    padding: 2%;
}
.lb3{
    color: white;
    font-size: 15px;
    margin-bottom: 1%;
}
.inp3{
    width: 80%;
    height: 40px;
    padding: 1%;
    border-radius: 20px;
    border: none;
    background-color: rgb(231,195,231);
    margin-bottom: 1%;
}
#enviar{
    background-color: rgb(59, 35, 59);
    border-radius: 20px;
    width: 50%;
    color: white;
    border: none;
    height: 50px;
    margin-bottom: 1%;
}
#linku{
    margin-left: -80%;
    color: white;
}
.erro{
    border-radius: 20px;
    background-color: rgb(136, 83, 136);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(59, 35, 59);
    width: 70%;
}
.erro h1{
    color: red;
    font-size: 100px;
}
.erro p{
    color: white;
    font-size: 40px;
    margin: 2%;
}
.botao_voltar{
    background-color: rgb(59, 35, 59);
    padding: 1%;
    border-radius: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 300ms ease;
}
.botao_voltar:hover{
    transform: scale(1.1);
    transition: 300ms;
    background-color: rgb(36, 21, 36);
}
.botao_voltar a{
    text-decoration: none;
    color: white;
}
.message{
    width: 50%;
    border-radius: 20px;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.nenhum_buraco{
    width: 50%;
    border-radius: 20px;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 2%;
}
.info_buracos{
    border-radius: 20px;
    background-color: rgb(136, 83, 136);
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgb(59, 35, 59);
    gap: 2%;
    width: 90%;
    margin: 2%;
}
.info_buracos h1{
    color: white;
    font-size: 50px;
}
.buraco{
    background-color: rgb(231,195,231);
    padding: 2%;
    margin: 1%;
    border-radius: 20px;
}
.lista_buracos{
    border: solid 2px black;
    display: flex;
}
.botao_crud{
    background-color: rgb(59, 35, 59);
    padding: 1%;
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 300ms ease;
    text-decoration: none;
    color: white;
}
.botao_crud:hover{
    transform: scale(1.1);
    transition: 300ms;
    background-color: rgb(36, 21, 36);
    text-decoration: none;
    color: white;
}
.botao_crud a{
    text-decoration: none;
    color: white;
}