{% extends "base.html" %}

{% block titulo %}
    RuaHole - Cadastro de Buracos
{% endblock %}

{% block conteudo %}
    <form action="{{ url_for('cadastrar_buraco') }}" method="POST">
        <h2> Formulário de chamados: </h2>
        <h3> Responda as perguntas abaixo para descrever melhor a gravidade do problema </h3>

        <label for="rua"> Nome da Rua: </label>
        <input type="text" name="rua" placeholder="digite o nome rua onde se encontra o buraco..." required>
        
        <label for="bairro"> Bairro: </label>
        <input type="text" name="bairro" placeholder="digite o nome do bairro..." required>
        
        <label for="referencia"> Ponto de referência: </label>
        <input type="text" name="referencia" placeholder="descreva um ponto de referencia proximo ao local da obstrução">
        
        <label for="gravidade"> Qual a gravidade do buraco? </label>
        <select name="gravidade" id="gravidade">
            <option value="leve"> Leve </option>
            <option value="media"> Média</option>
            <option value="grave"> Grave  </option>
        </select>
        <div>
            <button type="submit"> Enviar Dados </button>
        </div>
    </form>
    <br>
    <div class="links">
        <a href="{{url_for('exibir_lista')}}"> Ver Lista de Buracos </a>
        <a href="{{url_for('dash')}}">Voltar</a>
    </div>
    
{% endblock %}
