{% extends "base.html" %}

{% block titulo %}
    RuaHole - Página de Cadastro
{% endblock %}

{% block conteudo %}
    <form id="formcadastro" action="{{ url_for('login') }}" method="POST">
        <label class="lb1" for="nome"> Usuário </label>
        <input class="inp1" type="text" name="nome" placeholder="Digite seu nome de usuário" required>

        <label class="lb1" for="senha"> Senha </label>
        <input class="inp1" type="text" name="senha" placeholder="Digite sua senha" required>

        <button id="butao" type="submit"> Cadastrar-se </button>
    </form>
{% endblock %}
