{% extends "base.html" %}

{% block titulo %} 
    RuaHole - Editar Relato 
{% endblock %}

{% block conteudo %}
<div>
    <h1 id="editrelato"> Editar Relato - {{buraco.id}} </h1>
    <p id="p1"> Altere as informações abaixo para atualizar o estado do buraco. </p>

    <form id="form2" action="{{ url_for('editar', id=buraco.id) }}" method="POST">
        
        <label class="lb3" for="rua"> Nome da Rua: </label>
        <input class="inp3" type="text" name="rua" value="{{ buraco.rua }}" required>
        <br>
        <label class="lb3" for="bairro"> Bairro: </label>
        <input class="inp3" type="text" name="bairro" value="{{ buraco.bairro }}" required>
        <br>
        <label class="lb3" for="referencia"> Ponto de referência: </label>
        <input class="inp3" type="text" name="referencia" value="{{ buraco.referencia }}" required>
        <br>
        <label class="lb3" for="gravidade"> Gravidade Atual: {{buraco.gravidade}}</label>
        <select name="gravidade">
            <option value="leve" {% if buraco.gravidade == 'leve' %}selected{% endif %}>Leve</option>
            <option value="media" {% if buraco.gravidade == 'media' %}selected{% endif %}>Média</option>
            <option value="grave" {% if buraco.gravidade == 'grave' %}selected{% endif %}>Grave</option>
        </select>
        <br>
        <button id="enviar" type="submit"> Salvar Alterações </button>
        <br>
        <a id="linku" href="{{ url_for('exibir_lista') }}"> Cancelar </a>
    </form>
</div>
{% endblock %}