{ % extends "base.html" % }

{ % block titulo % }
    RuaHole - Página inicial
{ % endblock % }

{ % block conteudo % }
    <div>
        <h1> Bem Vindos a RuaHole </h1>

        <p>Aqui vocês podem comunicar aos nossos funcionários a existência de buracos nas ruas de sua cidade, e partir das informaçõpes iremos adiciona-las a uma lista, e esta que será enviada para as autoridades locais, depois é só aguardar os reparos esperados.</p>

        <p id="enfase">O nivel de </p>
        <a href="">Cadastra-se</a>
    </div>
{ % endblock % }
