{ % extends "base.html" % }

{ % block titulo % }
    RuaHole - Página inicial
{ % endblock % }

{ % block conteudo % }
    <div>
        <h1> Bem Vindos a RuaHole </h1>

        <p>Aqui vocês podem comunicar aos nossos funcionários a existência de buracos nas ruas de sua cidade, e apartir das informaçõpes iremos adiciona-las a uma lista, e esta que será enviada para as autoridades locais, depois é só aguardar os reparos esperados.</p>

        <form action="{{url_for('logout')}}">
            <button type="submit">Fechar sessão</button>
        </form>
    </div>

    <div>
        <h1>Formulário de chamados:</h1>
        <h2>Responda as perguntas abaixo para descrever melhor a gravidade do problema</h2>

        <form action="">
            <label for="rua">Nome da Rua:</label>
            <input type="text" name="rua" placeholder="digite o nome rua onde se encontra o buraco...">
            <label for="bairro">Bairro:</label>
            <input type="text" name="bairro" placeholder="digite o nome do bairro...">
            <label for="referencia">Ponto de referência:</label>
            <input type="text" name="referencia" placeholder="descreva um ponto de referencia proximo ao local da obstrução">
            <label for="gravidade">Qual a gravidade do buraco?</label>
            <select name="gravidade" id="gravidade"
                <option value="leve">Leve</option>
                <option value="media">Média</option>
                <option value="grave">Grave</option>
            </select>
        </form>
    </div>
{ % endblock % }
