{ % extends "base.html" % }

{ % block titulo % }
    RuaHole - Lista e Cadastro de Buracos
{ % endblock % }

{ % block conteudo % }
    <form action="">
        <label for="">Nome da Rua</label>
        <input type="text" placeholder="Escreva o nome da Rua">
        <select name="" id=""></select>
        <button>Salvar</button>
    </form>
    <ul>
        <li>
            <h1>Lista de Ruas Emburacadas</h1>
        </li>
        <li>
            <div>
                /*Nome da Rua*/
            </div>
            <div>
                /*Botão para Editar*/
            </div>
            <div>
                /*Botão para Apagar*/
            </div>
        </li>
    </ul>

{ % endblock % }
